<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>List Of Live Data</h1>
    <ul id="display">

    </ul>

    <script type="text/javascript">
        $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                    type: 'GET',
                    url: "{% url 'getProfile' %}",
                    success: function(response){
                        // console.log(response);
                        $('#display').empty();
                        for (var key in response.profiles)
                        {
                            var temp = "<h2><li>"+response.profiles[key].name+"</li></h2>";
                            $('#display').append(temp);
                        }
                    },
                    error: function(response){
                        alert("Error Getting Data...")
                    }
                });
            }, 1000);
        });
    </script>
</body>
</html>